<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.0.1/css/bootstrap-theme.css" rel="stylesheet">
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.0.1/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.0.1/css/bootstrap.css" rel="stylesheet">
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.0.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/1.10.0/jquery.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.0.1/js/affix.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.0.1/js/affix.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.0.1/js/alert.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.0.1/js/alert.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.0.1/js/bootstrap.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.0.1/js/bootstrap.min.js"></script>
    <script type="application/javascript" src="/js/makeJs/login.js"></script>
</head>
<title>用户登录</title>
<body>
<body background="/images/food3.jpg">
<!--<div class="container">-->
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="text-center">
                <h1>
                    欢迎来到新时代点餐系统！
                    <br>
                </h1>
                <p>
                    <strong>

                        <br>

                    </strong>
                </p>
                <p>
<!--                    <a class="btn btn-primary btn-large"-->
<!--                       href="https://baike.baidu.com/item/Spring%20Boot/20249767?fr=aladdin">了解更多有关Java Spring boot</a>-->
<!--                    <br>-->
<!--                    <br>-->
                </p>
            </div>
            <div class="row clearfix">
                <div class="col-md-3 column">
                </div>
                <div class="col-md-6 column">
                    <form class="form-horizontal" role="form" id="loginForm">
                        <div class="form-group">
                            <label for="username" class="col-sm-2 control-label">用户名</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="username"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="col-sm-2 control-label">密码</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="password"/>
                            </div>
                        </div>
                        <!--                            <div class="form-group">-->
                        <!--                                <div class="col-sm-offset-2 col-sm-10">-->
                        <!--                                    <div class="checkbox">-->
                        <!--                                         <label><input type="checkbox" /><strong>记住我</strong></label>-->
                        <!--                                    </div>-->
                        <!--                                </div>-->
                        <!--                            </div>-->
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <label>您的身份</label>
                                <select class="form-control" id="personnel">
                                    <option><strong>员工</strong></option>
                                    <option><strong>商家</strong></option>
                                    <option><strong>送餐员</strong></option>
                                    <option><strong>经理</strong></option>
                                </select>
                            </div>
                        </div>
                    </form>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default"  id="submit">登录
                            </button>
                            <!--                                <button type="button" class="btn btn-default">注册-->
                            <!--                                </button>-->
                        </div>
                    </div>
                </div>
                <div class="col-md-3 column">
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $('#submit').click(function (){
            var workNumberOrUserName = $("#username").val();
            var password = $("#password").val();
            var personnel = $("#personnel").val();
            var jsonObject = {"workNumberOrUserName":workNumberOrUserName,"password":password,"personnel":personnel};
            var jsonString = JSON.stringify(jsonObject);
            $.ajax({
                url: "/checkLogin",
                type: "put", // 使用的put方法，对应后台中的添加方法
                datatype: "json",
                contentType: "application/json",
                data:jsonString,
                async:false,
                success: function (data) {
                    alert(data.msg);
                    if(data.msg==="登录成功"){
                        window.location.href = "http://www.baidu.com";
                    }
                },
                error: function () {
                    alert("登录失败");
                }
            })
        })
    })
</script>
</body>

</html>

